<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <td>
          <!--Changing header to say logout when user is logged in. If user is already logged in, replace input field for entering username with a label, like 'logged in as user.' we already have that label, so move it over here instead. If user is already logged in, copy login button and replace with logout. post to logout. use crocodile inputs to write js in html.-->
          <% if (username) { %>
            <form method="post" action="/logout" style="display: flex; align-items: center;"><label
                style="margin-left: 10px;">Logged in as '<%= username %>'</label><button type="submit">Logout</button>
            </form>

            <% } else { %>

              <form method="post" action="/login" style="display: flex; align-items: center;">
                <input class="form-control" type="text" name="username" placeholder="Username"
                  style="margin-right: 10px;">
                <button type="submit">Login</button>

              </form>
              <% } %>
        </td>
      </div>
    </div>
  </nav>
</header>